.pageOuterContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.canvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.commandSidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  padding-top: 20px;
  pointer-events: none;
}

.submissionDialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.submissionDialogContent {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 20px;
  border-radius: 10px;
}

.canvasContainer canvas {
  cursor: move;
}

.panning canvas {
  cursor: move;
}

.rotating canvas {
  cursor: grabbing;
}

.dragging canvas {
  cursor: grabbing;
}

.canGrab canvas {
  cursor: grab;
}

.titleContainer {
  font-family: var(--font-noto-serif), serif;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}

.letterGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding-left: 35px;
  padding-right: 35px;
  row-gap: 5px;
}

.letterButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterButton {
  background-color: unset;
  border: none;
  font-family: var(--font-b12-mono);
  font-size: 35px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.letterButton.usedLetterButton {
  background-color: var(--foreground);
  color: var(--background);
}
